{% extends 'usuarios/base.html' %}

{% block content %}

<h1>INICIO</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Tipo Usuario</th>
            <th>Ubicación</th>
        </tr>
    </thead>
    <tbody>
    {% for usuario in usuarios%}
        <tr>
            <td>{{ usuario.username }}</td>
            <td>{{ usuario.tipo_usuario }}</td>
            <td>{{ usuario.ubicacion }}</td>
            <td></td>
        </tr>
    {% endfor %}    
    </tbody>
</table>

{% endblock %}